<!-- append view css to head -->
<% content_for :header do -%>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= stylesheet_link_tag 'home' %>
  <%= javascript_include_tag 'typeahead' %>
  <%= javascript_include_tag 'bootstrap.min' %>
<% end -%>

<div id="headerwrap">
  <div class="container">
    <div class="row centered-text">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>ESTC <b>Chalkboard</b></h1>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div><!-- row -->

    <div class="row" id="search-row">
      <!-- Search Box -->
      <div id="search-box-background" class="centered">
        <div id="typeahead-container" class="search">
          <input class="typeahead" type="text" placeholder="Books">
          <i class="fa fa-search" id="search-glass"></i>
        </div>
        <!-- Submit Button -->
        <button type="button" class="btn btn-primary" id="submit-search">Submit</button>
      </div>
    </div>

  </div><!-- container -->
</div>

<div class="container w">
  <div class="row centered-text">
    <div class="col-lg-4">
      <i class="fa fa-bar-chart"></i>
      <h4>LOREM</h4>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
    </div><!-- col-lg-4 -->

    <div class="col-lg-4">
      <i class="fa fa-edit"></i>
      <h4>LOREM</h4>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
    </div><!-- col-lg-4 -->

    <div class="col-lg-4">
      <i class="fa fa-info"></i>
      <h4>LOREM</h4>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
    </div><!-- col-lg-4 -->
  </div><!-- row -->
</div><!-- container -->
