<!-- append view css to head -->
<% content_for :header do -%>
  <%= stylesheet_link_tag 'bootstrap.min' %>
<% end -%>

<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
      <h1>ESTC <b>Chalkboard</b></h1>
      <h2></h2>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- headerwrap -->

<div class="container w">
  <div class="row centered">
    <br><br>
    <div class="col-sm-4">
      <i class="fa fa-heart"></i>
      <h4>LOREM</h4>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
    </div><!-- col-sm-4 -->

    <div class="col-sm-4">
      <i class="fa fa-laptop"></i>
      <h4>LOREM</h4>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
    </div><!-- col-sm-4 -->

    <div class="col-sm-4">
      <i class="fa fa-trophy"></i>
      <h4>LOREM</h4>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
    </div><!-- col-sm-4 -->
  </div><!-- row -->
  <br>
  <br>
</div><!-- container -->
